<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Human</title>
</head>
<body>
<a th:text="${person.getName()}"></a>
<br/>
<a th:text="${person.getEmail()}"></a>
<br/>
<hr/>
<a>Id: </a> <a th:text="${person.getId()}"></a>
<br/>
<a>Age: </a><a th:text="${person.getAge()}"></a>
<br/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>